title
{


  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

h1
{
  color: black;
  font-family: "Times New Roman", Times, serif;
}
h6
{
  color: black;
  font-family: "Times New Roman", Times, serif;
}
 body{
      background-image: url("morning.jpg");
      background-attachment: scroll;
      background-repeat: no-repeat;
      background-position: top center;
      opacity: 0.5;


 }
