div.footer
{
    background-color: black;

    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    text-align: center;
    color: #707070;
    position: relative;
    display: block;
}

h3.footer
{
    font-style: italic ;
    text-align: center;
    color : Gray;    
};

div.copyrightText
{
    font-size: 11px;
}
a:link
{
        color: #707070;
}