


div.footer
{
    background-color: black;

    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    text-align: center;
    color: #707070;
    position: relative;
}

h3.footer
{
    font-style: italic ;
    text-align: center;
    color : Gray;    
};
