body
{
    background-color: #301500;
}
label
{
    color: white;
}
h3.nameProduct
{
    text-align: center;
    color : white;
    font-family: "Times New Roman", Times, serif;
}
h2.titlePicture
{
    font-size: 100px;
    position: absolute;
    color: white;
    bottom: 100px;
    left: 13%;

}
div.textTitlePicture
{
    font-size: 13px;
    position: absolute;
    color: white;
    bottom: 90px;
    left: 13%;
}
img.menuPicture
{
    margin: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:"20%";
    width:"80%";
}

div.centerText
{
    color: white;
    text-align: center;
}


h1.namePage
{
    text-align: center;
    color : white;
    font-family: "Times New Roman", Times, serif;
}
footer
{
    background-color: black;
    margin: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    text-align: center;
    color: #707070;
    padding-bottom:  10px;
    margin : 0;
}

h3.footer
{
    font-style: italic ;
    text-align: center;
    color : Gray;
};

div.copyrightText
{
    font-size: 11px;
}
a:link
{
        color: #707070;
}
a:visited
{
        color: #707070;
}
